*{
	margin:0;
	padding:0px;
	font-family: Century Gothic;
	color:black;
}

#cnt-bg {
	background: #f7f7f7;
	height:100%;
}

#container {
	max-width:1200px;
	margin:0px auto;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(aa.jpg);
	height: 10vh;
}

ul{
	list-style: none;
	float: right;
	margin-top: 25px;
	margin-left: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color:white;
	padding:5px 20px;
	border:1px transparent;
	transition: 1s ease;
	background: inherit;
}

ul li a:hover{
	background-color: white;
	color:black;
}

.logo h1{
	padding-left:20px;
	float:left;
	color:#fff;
	font-family: arial black;

}

ul li.active a{
	background-color: white;
	color:black;
}

.title{
	position: absolute;
	top: 45%;
	left:50%;
	transform: translate(-50%,-50%);
}

.title h1{
	font-size: 70px;
}

.transbox {
	width:552px;
	min-height:225px;
	padding:18px;
	font-size:24px;
	margin:16px 0px 16px 1px;
	font-family:Roboto, Open Sans, Segoe UI, Georgia;
	resize: none;
	border-color:white;
	background:white;
	box-shadow:0 0 5px 2px rgba(0,0,0,0.2);
}

.text {
	font:16px "Segoe UI";
	font-weight: 600;
	padding: 5px 13px;
	border-radius:3px;
	background: #f5f5f5;
	color: #555;
	border: 1px solid #999;
	cursor:pointer;
	margin:6px;
}

.text:hover{
	background-color: white;
}

.langselect {
	margin-top:1.5%;
	margin-left:6.2%;
	font-size:20px;
	padding:5px;
	background: #f7f7f7;
	border:none;
	border-bottom: 1px solid #999;
}

.bottom-tool {
	margin: 5% 0;
	text-align: center;
}

#loader {
	width: 35px;
    height: 35px;
    position: fixed;
    margin-left: 1%;
    visibility: hidden;
    margin-top: 1.5%;
}

.hidden {
	visibility: hidden;
}