{% extends 'layout.html' %}
{% block text %}
	<div id="cnt-bg">
		<select class="langselect">
			<option>English to Nepali</option>
			<option>Nepali to English</option>
		</select>
		<button class="text" id="listen">Use Speech-to-Text</button><img id="loader" src="{{url_for('static', filename="810.gif" )}}"/>
	<div id="container">
		<textarea class="transbox" id="srclang" placeholder="Enter text" autofocus></textarea>
		<textarea class="transbox" disabled></textarea>
		<div class="bottom-tool"><button class="text">Saved Translations</button><button class="text">History</button><button class="text">Rate us</button></div>
	</div>
	</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
	function done_listening(){
		rec.style = "color:#555";
		rec_on = false;
		document.querySelector("#loader").style.visibility = "hidden";
	}
	rec_on = false;
	rec = document.querySelector("#listen");
	rec.addEventListener('click', function() {
		if (rec_on == false) {
			rec.style = "color:red";
			document.querySelector("#loader").style.visibility = "visible";
			rec_on = true;
			fetch("listen", {method: 'get',
	  			headers: {
	    			'Accept': 'application/json',
	    			'Content-Type': 'application/json'
	  			}
	  		}).then((r) => r.text()).then((text)=>{
	  			document.querySelector("#srclang").innerHTML = text;
	  			done_listening();
	  		}).catch(function(error){console.log(error); 				done_listening();});
		}
  });
</script>
{% endblock %}
